.button-link {
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 8px 15px;
  background-color: var(--primary-color);
  color: black;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.button-link:hover {
  background-color: #e6df1d;
  color: #000;
}
